*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0px auto;
}

.logo-header{
    margin-top: 40px;
}

.photo-header{
    height: 500px;
    background-color: darkcyan;
    margin-bottom: 20px;
}

nav{
    height: 100px;
    background-color: blueviolet;
    margin-bottom: 20px;
}

main{
    margin-bottom: 20px;
    background-color: darkgreen;
}

.title-main{
    height: 100px;
    margin-bottom: 20px;
    background-color: skyblue;
}

.col-left,.col-right{
    width: 20%;
}

.col-central{
    width: 56%;
    margin: 0 2%;
}

.r-lateral{
    height:380px;
    width:29%;
    background-color: skyblue;
}

.col{
    float: left;
    background-color: skyblue;
    height: 600px;
    margin-bottom: 20px;
}

footer{ 
    height: 100px;
    background-color: blueviolet;
}