*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

header{
    width: 80%;
    height: 500px;
    margin: 20px auto;
}

main{
    width: 80%;
    height: 500px;
    margin: 0px auto 10px auto;
    background-color: teal;
}

.logo-header{
    height: 100px;
    margin-bottom: 20px;
    background-color: pink;
}

.img-header{
    height: 380px;
    background-color: sandybrown;
    margin-bottom: 20px;
}

.title-main{
    height: 50px;
    margin-bottom: 20px;
    background-color: skyblue;
}

.lateral{
    height:380px;
    width:29%;
    background-color: skyblue;
}

.central{
    height: 380px;
    width: 40%;
    margin: 0 1%;
    background-color: skyblue;
}

.r-lateral{
    height:380px;
    width:29%;
    background-color: skyblue;
}

main .lateral,main .central, main .r-lateral{float: left;}

footer{ 
    width: 80%;
    height: 70px;
    background-color: fuchsia;
    margin: 0% auto;
}